<div class="row">
  {{#link-to 'parent.new-child' classNames="btn btn-info"}}Create New Child (via route){{/link-to}}
  <div class="clearFix">&nbsp;</div>
  <div class="col-sm-6">
    <form>
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" name="name" id="new-client-name" placeholder="child name"/>
      </div>
      <div class="form-group">
        <label for="age">Age</label>
        <input type="text" name="age" id="new-client-age" placeholder="child age"/>
      </div>

      <button class="btn btn-info" {{action 'createChild'}}>Create Child (via action)</button>
    </form>

  </div>
</div>
<div class="row">
  <hr>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Age</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {{#each model as |child|}}
          <tr>
            <td>{{child.name}}</td>
            <td>{{child.age}}</td>
            <td>{{#link-to 'parent.child.edit' child classNames="btn btn-default"}}edit{{/link-to}}</td>
          </tr>
      {{/each}}
    </tbody>
  </table>

</div>
<div class="row">
{{outlet}}
</div>
